body {
    font-family:"Avenir";
    background-color:goldenrod;
    color:black;
}

h1 {
    color:whitesmoke;
}

a:link {
    color:blue;
    text-decoration: none;
}
a:visited {
    color:blue;
    text-decoration: none;
}
a:hover {
    color:lightblue;
    text-decoration: underline;
}
#home{
    text-decoration: none;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.main-menu>li {
    padding: 0px 10px 0px 10px;
    display: inline;
}
#firstlist{
    padding: 0px 10px 0 px 0 px;
}
