body {
    font-family:"Avenir";
    background-color:goldenrod;
    color:black;
}

h1 {
    color:whitesmoke;
}

a {
    text-decoration: none;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.main-menu>li {
    display: inline;
}
